<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Powerful system</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        {% if env_name == 'dev' %}
          <li{% if route_name == '_demo_hello' %} class="active"{% endif %}><a href="{{ path('_demo_hello', {name: '123'}) }}">Demo</a></li>
        {% endif %}
        <li{% if route_name starts with 'nf_commerce' %} class="active"{% endif %} class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Commerce <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li{% if route_name == 'nf_commerce_dashboard' %} class="active"{% endif %}><a href="{{ path('nf_commerce_dashboard') }}">Dashboard</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>