{% extends '::base.html.twig' %}

{% block stylesheets %}
  <link href="{{ asset('css/main-layout.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

  {{ include('::main-navbar.html.twig') }}

  <div class="container">
    {{ include('::language-switcher.html.twig') }}
    <h1 id="page-title">{{ page_title|trans }}</h1>
    {% block content %}{% endblock %}
  </div>

{% endblock %}