{% extends '::login-layout.html.twig' %}

{% block content %}

  <form action="{{ path('login_check') }}" method="post">
    {% if error %}
      <div class="error_message">{{ error.message }}</div>
    {% endif %}
    <h2 class="form-signin-heading">{{ page_title|trans }}</h2>
    <label for="username">{% trans %}nf.user.form.label.username_or_email{% endtrans %}:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="{% trans %}nf.user.form.label.username_or_email{% endtrans %}" required autofocus />

    <label for="password">{% trans %}nf.user.form.label.password{% endtrans %}:</label>
    <input type="password" id="password" name="_password" class="form-control" placeholder="{% trans %}nf.user.form.label.password{% endtrans %}" required />

    {#
      If you want to control the URL the user
      is redirected to on success (more details below)
      <input type="hidden" name="_target_path" value="/account" />
    #}

    <button type="submit" class="btn btn-lg btn-primary btn-block">{% trans %}nf.user.form.label.log_in{% endtrans %}</button>
  </form>
{% endblock %}